.DS_Store
auto-save-list
backups/
el-get/
url/
eshell/
elpa/
*.elc
tramp
ac-comphist.dat
srecode-map.el
request/
abbrev_defs
init.log
semanticdb/
.lsp-session*
forge-database.sqlite
recentf
bookmarks
transient/
network-security.data
README.el
.cache/
